:root {
  --primary: #1E90FF;
  --secondary: #FF6F61;
  --accent: #FFD700;
  --background: #F5F5F5;
  --text: #333333;
}

.admin-dashboard-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: var(--background);
  flex-direction: column;
}

.admin-dash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  background-color: white;
}

.admin-dash-nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-main-container {
  display: flex;
}

.admin-sidebar {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  display: none;
  flex-direction: column;
  position: relative;
  left: -400px;
  transition: 0.45s all ease;
}

.admin-info {
  text-align: center;
  margin-bottom: 30px;
}

.admin-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}

.admin-info h3 {
  font-size: 1.2rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-link {
  padding: 12px;
  margin: 5px 0;
  background-color: transparent;
  color: white;
  text-align: left;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-link:hover {
  background-color: var(--secondary);
}

.nav-link.act {
  background-color: var(--accent);
  color: var(--text);
  font-weight: bold;
}

.main-content {
  width: calc(100vw - 350px);
  min-height: calc(100vh - 90px);
  height: auto;
  padding: 40px;
  background-color: var(--color-background);
}

.back-to-home-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 40px;
  transition: 0.45s all ease;
}

.back-to-home-btn:hover {
  color: rgb(243, 243, 243);
}

.show-asb {
  min-width: 350px;
  display: flex;
  left: 0;
}

.full-width {
  width: 100vw;
}

