.manage-products {
  padding: 20px;
  background-color: #F5F5F5;
  color: #333333;
}

.manage-products h2 {
  color: #1E90FF;
  margin-bottom: 20px;
}

.manage-products table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.manage-products th,
.manage-products td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.manage-products th {
  background-color: #1E90FF;
  color: white;
}

.manage-products tr:hover {
  background-color: #f1f1f1;
}

.btn-danger {
  background-color: #FF6F61;
  color: white;
  padding: 6px 12px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-accent {
  background-color: #FFD700;
  color: #333333;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


@media (max-width:1400px){
  .action-btns-admin{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
